<!DOCTYPE html>
<html lang="en">
<head>
    <title>Retete Inteligente</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/receipes/bootstrap-tagsinput.css"/>
    <link rel="stylesheet" href="/static/receipes/style.css">


</head>
<body>

<div class="jumbotron text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2><span class="header-text">The best recipes are waiting. All you have to do is scroll!</span></h2>
                <br>
                <span class="glyphicon-menu-down glyphicon"></span>
            </div>

            <div class="col-sm-2"></div>
        </div>
    </div>
</div>

<div class="container container-recipes">
    <div class="search-wrapper">
        <label>Add Ingredients: </label>
        <input type="text" id="smart-search" data-role="tagsinput">
    </div>
    <div class="row">
        <div class="recipe-template hidden">
            <div class="col-sm-4">
                <div class="recipe-container">
                    <h3><b><a target="_blank" class="recipe-container-title"> </a></b></h3>
                    <ul class="recipe-details">
                        <li class="cooktime"></li>
                        <li class="preptime"></li>
                        <li class="servings"></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="results-wrapper"></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/static/receipes/bootstrap-tagsinput.min.js"></script>
<script src="/static/receipes/typeahead.bundle.js"></script>
<script src="/static/receipes/main.js"></script>
</body>
</html>

