<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Find Recipe</h1>
  <p>Intelligent recipes based on fridge products</p>
</div>
<!-- {{ key.id }}/ -->
<div class="container">
  <div class="row">
      {% for key in title %}
          <div class="col-sm-4">
            <h3><b><a href="/receipes/{{ key.id }}/"> {{ key.title }}</a></b></h3>
                    {% if key.cooktime %}
                        {% for key1 in key.cooktime %}
                            <span class="label label-primary">CookTime: </b>   {{ key1 }}</span>
                         {% endfor %}
                    {% endif %}

                    {% if key.preptime %}
                        {% for key2 in key.preptime %}
                                 <span class="label label-info">PrepTime: {{ key2 }}</span>
                        {% endfor %}
                    {% endif %}


                    {% if key.servings %}
                        {% for key3 in key.servings %}
                             <span class="label label-warning">Servings:  {{ key3 }}</span>
                        {% endfor %}
                    {% endif %}

            </div>
      {% endfor %}
  </div>
</div>

</body>
</html>

